Здравствуйте {{ obj_info.fio }},<br><br>

Мы рады сообщить вам, что вы получили доступ к нашим учебным материалам. Ниже вы найдете ссылку, которая позволит вам скачать или просмотреть интересующие вас материалы:<br><br>

<a href="{{ media_url }}">Ссылка на материалы</a><br><br>

Срок действия ссылки: неограничен<br><br>

Если у вас возникнут какие-либо вопросы или вам понадобится дополнительная помощь, не стесняйтесь связаться с нами по адресу atm_ooo@bk.ru<br><br>

Спасибо, что выбрали нас для вашего обучения. Удачи в изучении материалов!<br><br>

С уважением,<br>
Учебный центр "АТМ"<br>
+7-962-307-01-40