{% extends 'base.html' %}
{% load static %}

{% block title %} Учебный центр АТМ {% endblock %}

{% block content %}

    <!--//** Navigation**//-->

    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">



        <div class="container">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>

                <a class="navbar-brand" href="{% url 'index' %}">

                    <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="logo">

                </a>

            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="{% url 'index' %}">Перейти на сайт</a></li>

                </ul>

            </div>

            <!-- /.navbar-collapse -->

        </div>

    </nav>

    <!--//** Banner**//-->

    <section id="home">

        <div class="container">

            <div class="row">

                <div id="particles-js"></div>

                <!-- Sign Up -->

                <div class="col-md-12">

                    <form class="signup-form" method="post" action="{% url 'message' %}">

                        <h1 class="text-center">Ссылки на материалы</h1>

                        <h2 class="text-center"><a href="{{ MEDIA_URL }}АТМ_ВНОТ_презентация.pdf" download> Презентация </a></h2>

                    </form>

                </div>

            </div>

        </div>



    </section>

{% endblock %}